@{
    ViewData["Title"] = "Home Page";
}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center">
        <h1 class="animate-typing" data-animate-loop="false" data-type-speed="200" data-type-delay="200" data-type-speed="50" data-type-remove-delays="500">Dylan Poole</h1>
        <h2 class="animate-typing" data-animate-loop="false" data-type-speed="35" data-type-delay="200" data-type-speed="50" data-type-remove-delays="500" ">Current Centriq Student & Bachelor of Criminal Justice</h2>
    </div>
</section><!-- End Hero -->
